name: Win7 测试

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  x64:
    runs-on: windows-latest

    steps:
      - name: 仓库初始化
        uses: actions/checkout@v4

      - name: 安装并切换到 MSVC Rust toolchain
        run: |
          rustup toolchain install nightly
          rustup default nightly
          rustup component add rust-src --toolchain nightly-x86_64-pc-windows-msvc

      - name: 安装 LLVM
        run: |
          curl https://github.com/PLC-lang/llvm-package-windows/releases/download/v14.0.6/LLVM-14.0.6-win64.7z -o LLVM.7z
          7z x LLVM-14.0.6-win64.7z -o $env:ProgramFiles\LLVM
          $env:PATH = "$env:ProgramFiles\LLVM\bin;$env:PATH"
          echo $env:PATH

      - name: 构建（Windows MSVC）
        run: |
          cargo build --release -Z build-std --target x86_64-win7-windows-msvc

      - name: 上传构建产物
        uses: actions/upload-artifact@v4
        with:
          name: AppDataCleaner
          path: |
            target/x86_64-win7-windows-msvc/release/AppDataCleaner.exe
            target/x86_64-win7-windows-msvc/release/AppDataCleaner.pdb